
<div class="container">
   <h2>{{title}}</h2>
   <hr />
   <div class="row">
       <div class="col-md-6">
           <form action="/products/create" method="post">
           <div class="form-group">
               <input type="text" name="product_name" class="form-control" placeholder="Product Name" />
           </div> <br/>
           <div class="form-group">
               <input type="text" name="website_name" class="form-control" placeholder="website Name" />
           </div> <br/>
           <div class="form-group">
               <input type="text" name="price" class="form-control" placeholder="Price" />
           </div><br/>
           <div class="form-group">
               <input type="text" name="review" class="form-control" placeholder="Review" />
           </div><br/>
           <div class="form-group">
               <input type="text" name="rating" class="form-control" placeholder="Rating" />
           </div><br/>
           <div class="form-group">
               <input type="text" name="Product_url" class="form-control" placeholder="Product Url" />
           </div><br/>
           <div class="form-group">
               <input type="text" name="product_image_url" class="form-control" placeholder="Product_Img Url" />
           </div><br/>
           <div class="form-group">
               <button onclick= "create()" class="btn btn-info">Save Product</button>
           </div>
           </form>
       </div>

   </div>

</div>
<script>
    function create(){
        alert("Created successfully!");
    }
</script>




