<!--
<div class="container">
   <h2>{{title}}</h2>
   <hr />
   <div class="row">
       <div class="col-md-6">
           <form action="/products/log" method="post">
           <div class="form-group">
               <input type="text" name="username" class="form-control" placeholder="Product Name" />
           </div> <br/>
           <div class="form-group">
               <input type="text" name="password" class="form-control" placeholder="website Name" />
           </div> <br/>
           
           <div class="form-group">
               <button class="btn btn-info">Save Product</button>
           </div>
           </form>
       </div>

   </div>

</div>


<div class="container">
	<div class="row">
		<div style="width: 40%; margin: 25px auto;">
		<h1>{{title}}</h1>
		<form action="/regi" method="post">
        <div class="form-group">
				<input type="text" name="username" class="form-control" autofocus placeholder="user Name" />
			</div><br/>
			<div class="form-group">
				<input type="text" name="email" class="form-control" autofocus placeholder="Email" />
			</div><br/>
			<div class="form-group">
				<input type="password" name="password" class="form-control" autofocus placeholder="password" />
			</div><br/>
			<div class="form-group">
			<button class="btn btn-info">Submit</button
			</div>
		</form>
	</div>
</div>
</div>

-->



